{% extends 'base.html.twig' %}

{% block body %}
    <h1>Klant creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Create" />
        <a class="btn btn-primary" href="{{ path('admin_klant_index') }}">Back to the list</a>
    {{ form_end(form) }}
{% endblock %}
