{% extends 'base.html.twig' %}

{% block body %}
	<body>
	<ul style="margin-top: 100px; list-style-type: none; display: flex; flex-direction: row; justify-content: space-around;">
		<li><a class="btn btn-primary" href="locatie/">Locaties</a></li>
		<li><a class="btn btn-primary" href="sport/">Sporten</a></li>
		<li><a class="btn btn-primary" href="docent/">Docenten</a></li>
		<li><a class="btn btn-primary" href="klant/">Klanten</a></li>
		<li><a class="btn btn-primary" href="proeflessen/">Proeflessen</a></li>
		<li><a class="btn btn-success" href="/">Back to home page</a></li>
	</ul>
	</body>
{% endblock %}
