{% extends 'base.html.twig' %}

{% block body %}
	<body>
		<ul>
			<li><a href="locatie/">Locaties</a></li>
			<li><a href="sport/">Sporten</a></li>
			<li><a href="docent/">Docenten</a></li>
			<li><a href="klant/">Klanten</a></li>
			<li><a href="proeflessen/">Proeflessen</a></li>
		</ul>
	</body>
{% endblock %}
