{% extends 'base.html.twig' %}

{% block body %}
	<body>
		<ul>
			<li><a href="admin/locatie/">Locaties</a></li>
			<li><a href="admin/sport/">Sporten</a></li>
			<li><a href="admin/docent/">Docenten</a></li>
			<li><a href="admin/klant/">Klanten</a></li>
			<li><a href="admin/proeflessen/">Proeflessen</a></li>
		</ul>
	</body>
{% endblock %}
