{%  block footer %}
<footer>
    <div class="col-sm-4 top">
        <img src="{{ asset('images/logo-image.png') }}" alt="vechtsportlogo" height="80px">
    </div>
    <div class="col-sm-8 top usp">
        <h3>USP's</h3>
    </div>
    <div>
        <div class="col-sm-4">
            <h2 id="paginastitle">Paginas</h2>
            <ul class="paginas">
                <li>
                    <a href="">Pagina1</a>
                </li>
                <li>
                    <a href="">Pagina2</a>
                </li>
                <li>
                    <a href="">Pagina3</a>
                </li>
                <li>
                    <a href="">Pagina4</a>
                </li>
                <li>
                    <a href="">Pagina5</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h2 id="clubstitle">Clubs</h2>
            <ul class="clubs">
                <li>
                    <a href="">Club1</a>
                </li>
                <li>
                    <a href="">Club2</a>
                </li>
                <li>
                    <a href="">Club3</a>
                </li>
                <li>
                    <a href="">Club4</a>
                </li>
                <li>
                    <a href="">Club5</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <table id="info">
                <h2 id="infotitle">Info</h2>
                <tr id="infotext">Info</tr>
            </table>
        </div>
        <div class="col-sm-12"><h3>Volg ons</h3>
            <table class="col-sm-4">
                <tr>
                    <th><img src="{{ asset('images/facebookicon.png') }}" alt="vechtsportlogo" height="40px"></th>
                    <th><img src="{{ asset('images/instagramicon.png') }}" alt="vechtsportlogo" height="40px"></th>
                    <th><img src="{{ asset('images/twittericon.png') }}" alt="vechtsportlogo" height="40px"></th>
                </tr>
            </table>
        </div>
    </div>
</footer>
{% endblock %}
