{% extends 'base.html.twig' %}
{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    </head>
    <body>
    <nav class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li>Locatie</li>
        <li class="pull-right"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    </nav>
    <br>
    <div class="container" id="blocken">
        <div class="head">
            <h1>Lorem Ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
        <br>
        </div>
        <div class="col-sm-3">
            <a class="a-block" href="#">
                <div class="block">
                    <div class="image"></div>
                    <div class="text">Lorem ipsum</div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="a-block" href="#">
                <div class="block">
                    <div class="image"></div>
                    <div class="text">Lorem ipsum</div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="a-block" href="#">
                <div class="block">
                    <div class="image"></div>
                    <div class="text">Lorem ipsum</div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="a-block" href="#">
                <div class="block">
                    <div class="image"></div>
                    <div class="text">Lorem ipsum</div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="a-block" href="#">
                <div class="block">
                    <div class="image"></div>
                    <div class="text">Lorem ipsum</div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="a-block" href="#">
                <div class="block">
                    <div class="image"></div>
                    <div class="text">Lorem ipsum</div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="a-block" href="#">
                <div class="block">
                    <div class="image"></div>
                    <div class="text">Lorem ipsum</div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="a-block" href="#">
                <div class="block">
                    <div class="image"></div>
                    <div class="text">Lorem ipsum</div>
                </div>
            </a>
        </div>
    </div>
    </body>
{% endblock %}
