{% extends 'base.html.twig' %}
{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    </head>
    <body>
    <nav class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li>Locatie</li>
        <li class="pull-right"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    </nav>
    </body>
{% endblock %}
