<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
</body>
{%  block footer %}
<footer>
        <div class="col-sm-4" style="background-color:lavenderblush;">
            <img alt="vechtsportlogo" src="">
        </div>
        <div class="col-sm-8" style="background-color:lavenderblush;">
            <ul class="usp">
                <li>
                    <h1>USP</h1>
                </li>
            </ul>
        </div>

        <div class="col-sm-4" style="background-color:lavenderblush;">
            <h2 id="paginastitle">Paginas</h2>
            <ul class="paginas">
                <li>
                    <a href="">Pagina1</a>
                </li>
                <li>
                    <a href="">Pagina2</a>
                </li>
                <li>
                    <a href="">Pagina3</a>
                </li>
                <li>
                    <a href="">Pagina4</a>
                </li>
                <li>
                    <a href="">Pagina5</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4" style="background-color:lavenderblush;">
            <h2 id="clubstitle">Clubs</h2>
            <ul class="clubs">
                <li>
                    <a href="">Club1</a>
                </li>
                <li>
                    <a href="">Club2</a>
                </li>
                <li>
                    <a href="">Club3</a>
                </li>
                <li>
                    <a href="">Club4</a>
                </li>
                <li>
                    <a href="">Club5</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4" style="background-color:lavenderblush;">
            <table id="info">
                <h2 id="infotitle">Info</h2>
                    <tr id="infotext">Info</tr>
            </table>
    </div>
    <div class="row">
        <div class="col-sm-12" style="background-color:lavender;">Volg ons</div>
    </div>
    <table>
        <tr>
            <th>icon1</th>
            <th>icon2</th>
            <th>icon3</th>
        </tr>
    </table>
</footer>
{% endblock %}
</html>