{% extends 'base.html.twig' %}

{% block body %}
	<header class="header">
		<h1 class="header__title">Header</h1>
	</header>
	<nav class="navigation">
		<ul class="navigation__list">
			<li class="navigation__item">Page</li>
			<li class="navigation__item">Page</li>
			<li class="navigation__item">Page</li>
			<li class="navigation__item">Login</li>
		</ul>
	</nav>
	<main class="content">
		<h1 class="content__title">Kies een sportschool</h1>
		<div class="container">
			<div class="sportschool">
				<img class="sportschool__image" src="" alt="Image">
				<p class="sportschool__name">Naam sportschool</p>
				<p class="sportschool__location">locatie</p>
			</div>
			<div class="sportschool">
				<img class="sportschool__image" src="" alt="Image">
				<p class="sportschool__name">Naam sportschool</p>
				<p class="sportschool__location">locatie</p>
			</div>
			<div class="sportschool">
				<img class="sportschool__image" src="" alt="Image">
				<p class="sportschool__name">Naam sportschool</p>
				<p class="sportschool__location">locatie</p>
			</div>
			<div class="sportschool">
				<img class="sportschool__image" src="" alt="Image">
				<p class="sportschool__name">Naam sportschool</p>
				<p class="sportschool__location">locatie</p>
			</div>
			<div class="sportschool">
				<img class="sportschool__image" src="" alt="Image">
				<p class="sportschool__name">Naam sportschool</p>
				<p class="sportschool__location">locatie</p>
			</div>
			<div class="sportschool">
				<img class="sportschool__image" src="" alt="Image">
				<p class="sportschool__name">Naam sportschool</p>
				<p class="sportschool__location">locatie</p>
			</div>
			<div class="sportschool">
				<img class="sportschool__image" src="" alt="Image">
				<p class="sportschool__name">Naam sportschool</p>
				<p class="sportschool__location">locatie</p>
			</div>
			<div class="sportschool">
				<img class="sportschool__image" src="" alt="Image">
				<p class="sportschool__name">Naam sportschool</p>
				<p class="sportschool__location">locatie</p>
			</div>
			<div class="sportschool">
				<img class="sportschool__image" src="" alt="Image">
				<p class="sportschool__name">Naam sportschool</p>
				<p class="sportschool__location">locatie</p>
			</div>
			<div class="sportschool">
				<img class="sportschool__image" src="" alt="Image">
				<p class="sportschool__name">Naam sportschool</p>
				<p class="sportschool__location">locatie</p>
			</div>
			<div class="sportschool">
				<img class="sportschool__image" src="" alt="Image">
				<p class="sportschool__name">Naam sportschool</p>
				<p class="sportschool__location">locatie</p>
			</div>
			<div class="sportschool">
				<img class="sportschool__image" src="" alt="Image">
				<p class="sportschool__name">Naam sportschool</p>
				<p class="sportschool__location">locatie</p>
			</div>
		</div>
	</main>
	<footer class="footer">
		<p class="footer__text">Footer</p>
	</footer>
{% endblock %}

{% block stylesheets %}
	<style>
		body {
			height: 100vh;
			margin: 0;
			display: flex;
			flex-direction: column;
		}

		header {
			width: 100vw;
			height: 5vw;
			background-color: grey;
		}

		h1, h2, h3, p, ul, li {
			margin: 0;
		}

		.header {

		}

		.header__title {
			padding-top: 1vw;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.navigation {
			width: 100vw;
			height: 3vw;
			background-color: red;
		}

		.navigation__list {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			padding-top: 10px;
		}

		.navigation__item {
			list-style-type: none;
		}

		.container {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			justify-items: space-around;
		}

		.content {

		}

		.content__title {

		}

		.sportschool {
			width: 200px;
			height: 200px;
			border: 1px solid black;

		}

		.sportschool__image {

		}

		.sportschool__name {

		}

		.sportschool__location {

		}

		.footer {
			width: 100vw;
			height: 5vw;
			background-color: grey;
			position: absolute;
			bottom: 0;
		}

		.footer__text {

		}
	</style>
{% endblock %}
